---
import Base from '@/layouts/Base.astro';
import PageHeader from '@/components/PageHeader.astro';
import CallToAction from '@/components/CallToAction.astro';
import { getEntry } from 'astro:content';

const page = await getEntry('pages', 'pricing');
const { data } = page;
const plans = data.plans || [];
---
<Base title={data.meta_title || data.title}>
  
<PageHeader title="Pricing" />

<section class="section">
    <div class="container">
        <div class="lg:col-7 mx-auto text-center">
            <h2>Pricing plans built for your team.</h2>
            <p class="md:px-20 mb-7">{data.description}</p>
            <div class="bg-primary/40 p-[5px] inline-block rounded text-dark">
                <button data-package="yearly" class="text-base py-px px-5 btn">Annual</button>
                <button data-package="monthly" class="btn-primary btn text-base py-px px-5">Monthly</button>
            </div>
        </div>

        <div class="mt-12 lg:mt-28">
            <div class="row gy-4 justify-center xl:g-0">
                {plans.map((plan) => (
                    <div class="lg:col-4 md:col-6">
                        <div class={`h-full lg:h-auto border bg-white border-primary rounded-xl p-10 shadow ${plan.popular ? 'popular relative' : ''}`}>
                            <div class="border-b border-primary text-center">
                                <h5 class="mb-5">{plan.name}</h5>
                                <h2 class="font-semibold">
                                    <span data-price-yearly={plan.yearly_price} data-price-monthly={plan.monthly_price}>${plan.monthly_price}</span> USD
                                </h2>
                                <p class="text-base text-light capitalize mb-3">per user per month</p>
                            </div>

                            <div class="mt-10">
                                <h5 class="font-semibold">{plan.description}</h5>
                                <ul class="space-y-4 mt-4">
                                    {plan.features.map((feature) => (
                                        <li class="flex space-x-3">
                                            <div class="w-6 h-6 bg-gradient rounded-full flex items-center justify-center text-white">
                                                <i class="fa-solid fa-check"></i>
                                            </div>
                                            <span>{feature}</span>
                                        </li>
                                    ))}
                                </ul>
                                <button class={`btn w-full mt-10 ${plan.popular ? 'btn-outline-primary bg-gradient text-white' : 'btn-outline-primary group'}`}>
                                    {plan.popular ? 'Start A Free Trial' : <span class="text-linear group-hover:text-white">Start A Free Trial</span>}
                                </button>
                            </div>
                        </div>
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<CallToAction />

</Base>
