---
import Base from '@/layouts/Base.astro';
import PageHeader from '@/components/PageHeader.astro';
import CallToAction from '@/components/CallToAction.astro';
import { getEntry } from 'astro:content';

const page = await getEntry('pages', 'solution');
const { data } = page;
const sections = data.sections || [];
---
<Base title={data.meta_title || data.title}>
  
<PageHeader title="Solution" />

<section class="section pt-2">
    <div class="container">
        <div class="lg:col-5 text-center mx-auto">
            <h2 class="mb-14">{data.description}</h2>
        </div>
        <div class="mx-auto lg:col-10 px-2">
            <img loading="lazy" class="mx-auto shadow rounded-xl" width="1102" height="722" src="/images/solution/8.png"
                alt="solution-img" />
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="lg:col-9 text-center mx-auto">
            <h2 class="font-semibold h3 sm:h2">Eliminate renewals surprises; take swift action to mitigate any
                potential.</h2>
        </div>
        <div class="mx-auto lg:col-10">
            <div class="mt-14">
                {sections.map((section, index) => (
                    <div class={`${index < sections.length - 1 ? 'mb-12 lg:mb-28' : ''}`}>
                        {section.image_position === 'left' ? (
                            <div class="row gy-4 lg:gy-0 items-center">
                                <div class="md:col-6 lg:col-5">
                                    <img loading="lazy" class="shadow rounded-xl w-full" src={section.image} alt="solution-img" />
                                </div>
                                <div class="md:col-6 lg:col-7">
                                    <h3 class="h4 lg:h3 mb-3">{section.title}</h3>
                                    <p class="text-light text-base lg:text-lg">{section.description}</p>
                                    {section.items && (
                                        <ul class="list-group list-group-sm mt-14">
                                            {section.items.map((item) => (
                                                <li class="list-item">{item}</li>
                                            ))}
                                        </ul>
                                    )}
                                </div>
                            </div>
                        ) : (
                            <div class="row items-center gy-4">
                                <div class="md:col-6 lg:col-7">
                                    <h3 class="h4 lg:h3 mb-3">{section.title}</h3>
                                    <p class="text-light text-base lg:text-lg">{section.description}</p>
                                    {section.items && (
                                        <ul class="space-y-3 mt-6">
                                            {section.items.map((item) => (
                                                <li class="flex items-center space-x-5">
                                                    <i class="fa-solid fa-check text-secondary text-2xl"></i>
                                                    <span>{item}</span>
                                                </li>
                                            ))}
                                        </ul>
                                    )}
                                </div>
                                <div class="md:col-6 lg:col-5">
                                    <img loading="lazy" class="shadow rounded-xl w-full" src={section.image} alt="solution-img" />
                                </div>
                            </div>
                        )}
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<CallToAction />
  
</Base>
